<input class="form-control mr-sm-2" [(ngModel)]="userQuestion"
       type="text" name="userQuestion" id="userQuestions"
       (ngModelChange)="this.userQuestionUpdate.next($event)">

<div *ngIf="!checkReprints" class="col-12 row">
  <table class="col-12">
    <tr>
      <th>Nom</th>
    </tr>
    <tr (click)="c.countReprints===1?addToCollection(c):openCard(c.locName)" *ngFor="let c of cards">
      <td style="cursor: pointer">{{c.locName}}</td>
    </tr>
  </table>
</div>


<div *ngIf="checkReprints" class="col-12 row">
  <table class="col-12">
    <tr>
      <th>Nom</th>
      <th>Rareté</th>
      <th>Extension</th>
    </tr>
    <tr *ngFor="let c of cards" >
    <td (click)="addToCollection(c)">{{c.locName}}</td>
    <td>{{c.rarity}}</td>
    <td>{{c.expansionName}}</td>
    </tr>
  </table>
</div>


<hr>

<h4>My Collection</h4>
<div class="col-12 row">
  <div *ngFor="let item of collection">
    <img (click)="removeFromCollection(item)"  [alt]="item.locName" [src]="'http://cardmarket.com' + item.image" width="50%"/>
    <p>{{item.locName}}</p>
    <p>{{item.expansionName}}</p>
    <p>Nombre: {{item.count}}</p>
  </div>
</div>

